// Grays
$gray-darker: #3a3a40;
$gray-dark: #45454c;
$gray: #4c4c53;
$gray-light: #999;
$gray-lighter: #ccc;
$gray-lightest: #e5e5e5;

$gray-text: #666666;

// Brand colors
$brand-primary: #33a9e0;
$brand-success: #62ab1b;
$brand-warning: #edb406;
$brand-danger: #e93801;
$brand-info: #e0f5fe;

$secondary-green: #c2f33f;
$secondary-pink: #ff70ce;
$secondary-purple: #942bff;

// Fonts 
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: $font-family-sans-serif;
$font-family-base: $font-family-sans-serif;
