---
title: app
---

= partial 'partials/intro'
= partial 'partials/married'
= partial 'partials/countdown'
= partial 'partials/bridal_party'
= partial 'partials/when'
= partial 'partials/hotel'
= partial 'partials/map'
/ = partial 'partials/rsvp'
= partial 'partials/registry'
